
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.text-center {
    text-align: center;
}
.fondo {
    background-color: #f8f9fa;
    padding: 20px 0;
}
h1, h2 {
    color: white;
}
model-viewer {
    width: 850px;
    height: 600px;
    display: block;
    margin: 0 auto;

   
}
